body{
	background-color: #073763;
}

.principal
{
	background-color:#dddddd;
	border: solid #B5ADAD 1px;
	position: fixed;
	min-width: 320px;
	min-height: 800px;
	left: 150px;
	text-align: center;
	font-family: verdana;

}

#foot
{
	background-color: #085394;
	min-width: 730px;
	min-height: 40px;
	position: fixed;
	top:463px;
	font-family:monospace;
	font-size: .7em;
	text-align: right;
	color: white;
}

#foot2
{
	background-image: ("logo.png");
	position: fixed;
	left: 150px;
	bottom: 10px;
}

#Datos
{
	border:double black 5px;	
	position:relative;
	top: 115px;
	left:25%;	
	width:40%
}